.boxlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.login {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
}