* {
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    outline: none;
    cursor: pointer;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.left {
    width: 70%;
    float: left;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.btn-outline {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 2px 5px;
    color: #666;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.sub {
    color: #9b9b9b;
    margin-top: 5px;
    font-size: 15px;
}

.sub a,
.hashtag a {
    color: #f60;
}

.ratting {
    background-color: #fff3e5;
    height: 50px;
    padding: 0 30px;
    /* font-size: 35px; */
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    font-weight: 400;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.ratting i,
.ratting2 i {
    color: #ff8a00;
    font-size: 22px;
    line-height: 10px;
    margin-right: 10px;
}

.small {
    font-size: 35px;
    line-height: 50px;
}

.swiper-container {
    width: 680px;
    height: 480px;
    background-color: #000;
    margin: 0;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-container img {
    height: 100%;
}

.content {
    font-size: larger;
    line-height: 150%;
}

.content h2 {
    margin: 20px 0 10px 0;
}

.hashtag {
    margin: 20px 0;
}

.hashtag a {
    margin-right: 10px;
}

.ttquan {
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: content-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.ttquan .avatar img {
    height: 100px;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
    float: left;
}

.tttg {
    float: left;
}

.post {
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
}

a.btn {
    color: #999;
}

.post img {
    width: 50%;
}

.ttquan p {
    margin: 0;
}

.ttquan_chitiet {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ratting2 {
    display: flex;
}

.ratting2 span {
    font-weight: 600;
}

.ttquan_chitiet a {
    color: #000;
}

.ttquan_chitiet strong {
    font-size: 18px;
}

.thanhtuongtac {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.thanhtuongtac img {
    height: 30px;
}

.thanhtuongtac div:first-child {
    display: flex;
    align-items: center;
}

.thanhtuongtac div:first-child img {
    margin-right: 5px;
}

.thanhtuongtac div:last-child img {
    margin-left: 10px;
}

.view {
    background-color: #f4f3f3;
    padding: 10px 15px;
    border-radius: 5px;
}


/* Nhân */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.left {
    width: 70%;
    float: left;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.btn-outline {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 2px 5px;
    color: #666;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.sub {
    color: #9b9b9b;
    margin-top: 5px;
    font-size: 15px;
}

.sub a,
.hashtag a {
    color: #f60;
}

.ratting {
    background-color: #fff3e5;
    height: 50px;
    padding: 0 30px;
    /* font-size: 35px; */
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    font-weight: 400;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.ratting i,
.ratting2 i {
    color: #ff8a00;
    font-size: 22px;
    line-height: 10px;
    margin-right: 10px;
}

.small {
    font-size: 35px;
    line-height: 50px;
}

.swiper-container {
    width: 680px;
    height: 480px;
    background-color: #000;
    margin: 0;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-container img {
    height: 100%;
}

.content {
    font-size: larger;
    line-height: 150%;
}

.content h2 {
    margin: 20px 0 10px 0;
}

.hashtag {
    margin-bottom: 20px;
}

.hashtag a {
    margin-right: 10px;
}

.ttquan {
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: content-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.ttquan .avatar img {
    height: 100px;
}

.avatar {
    width: 100px;
    margin-right: 20px;
}

.post {
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
}

a.btn {
    color: #999;
}

.post img {
    width: 50%;
}

.ttquan p {
    margin: 0;
}

.ttquan_chitiet {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ratting2 {
    display: flex;
}

.ratting2 span {
    font-weight: 600;
}

.ttquan_chitiet a {
    color: #000;
}

.ttquan_chitiet strong {
    font-size: 18px;
}

.thanhtuongtac {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.thanhtuongtac img {
    height: 30px;
}

.thanhtuongtac div:first-child {
    display: flex;
    align-items: center;
}

.thanhtuongtac div:first-child img {
    margin-right: 5px;
}

.thanhtuongtac div:last-child img {
    margin-left: 10px;
}

.view {
    background-color: #f4f3f3;
    padding: 10px 15px;
    border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style: none;
}

.boxcenter {
    max-width: 85%;
    margin: 0 auto;
}

.nav {
    display: flex;
    padding: 2rem 0.5rem;
}

.logo {
    width: 10%;
}

.logo img {
    width: 80%;
    height: 40px;
}

.search {
    display: flex;
    width: 70%;
    height: 45px;
    align-items: center;
}

.search .search-left {
    width: 20%;
    padding: 0.7rem 1.5rem;
    background-color: #f7f7f7;
    position: relative;
    border-radius: 3px 3px 0 0;
}

.search .search-left::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    right: 0;
    top: 7px;
    background-color: #9999;
}

.search .search-right {
    width: 80%;
    padding: 0rem 1rem;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
}

.search .search-left button {
    outline: none;
    border: none;
    background-color: #f7f7f7;
}

.search .search-right input {
    width: 97%;
    background-color: transparent;
    outline: none;
    height: 45px;
    border: none;
    border-radius: 0 0 3px 3px;
}

.profile {
    width: 20%;
    display: flex;
}

.profile .chuong img,
.profile .avt img {
    width: 50px;
}

.profile .baiviet {
    height: 44px;
    border-radius: 24px;
    width: 106px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .7);
    background-color: #f60;
    text-align: center;
    line-height: 44px;
}

.profile .baiviet span {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

main {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 500px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-2 {
    padding-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.danhmuc {
    border: 1px solid rgba(0, 0, 0, .09);
    padding-bottom: 2rem;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.img-dm {
    height: 130px;
    object-fit: cover;
}

.danhmuc-text {
    margin: 0.5rem 1rem;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 25px;
    position: absolute;
    top: 40%;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    line-height: 30px;
    transition: 0.5s;
    font-weight: bold;
    color: #bbb;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    border-color: #f60;
    background: #f60;
    color: white;
}

.owl-carousel .owl-nav button.owl-next {
    right: -17px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -17px;
}

.imgbaner {
    border-radius: 10px;
}


/* Style the tab */

.tab {
    overflow: hidden;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 31px;
    transition: 0.3s;
    font-size: 17px;
    background-color: #efefef;
    margin-right: 1rem;
    color: #707070;
}

.tab button span {
    position: relative;
    padding-bottom: 0.1rem;
}


/* Change background color of buttons on hover */

.tab button span:hover {
    border-bottom: 3px solid #f60;
}


/* Create an active/current tablink class */

.tab button.active {
    color: #fff;
    background-color: #f60;
}


/* Style the tab content */

.tabcontent {
    display: none;
    border-top: none;
}

.baivietct {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.baivietct .baivietct-item {
    width: 32%;
    height: 450px;
}

.baivietct .baivietct-item .baivietct-item__img {
    height: 70%;
    position: relative;
}

.baivietct .baivietct-item .baivietct-item__img:hover .img-boxhover {
    display: block;
    opacity: 1;
    cursor: pointer;
}

.baivietct .baivietct-item .baivietct-item__img:hover .img-boxhover p {
    transform: translateY(0);
}

.img-boxhover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    font-size: 11pt;
    transition: 0.5s;
    opacity: 0;
}

.img-boxhover img {
    width: 30px !important;
    height: 30px !important;
}

.img-boxhover p {
    transform: translateY(30px);
    transition: 0.5s;
}

.baivietct .baivietct-item .baivietct-item__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.kh {
    margin-top: 1rem;
    justify-content: space-between;
}

.kh,
.name {
    display: flex;
}

.kh .name img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 0.5rem;
}

.kh .star {
    width: 10%;
    object-fit: cover;
    display: flex;
    line-height: 20px;
}

.kh .star img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 0.4rem;
}

.kh .star p {
    font-weight: bold;
}

.xh {
    height: 480px !important;
}

footer {
    background-color: #000;
    color: #efefef;
    clear: both;
}

.mxh {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #666;
}

.mxh a {
    margin-right: 10px;
}

.coppyright {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
}