<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>riviu</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- start header  -->
    <header>
        <div class="boxcenter">
            <div class="nav">
                <div class="logo">
                    <img src="../images/logo.png" alt="">
                </div>
                <div class="search">
                    <div class="search-left">
                        <button>HỒ CHÍ MINH</button>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div class="search-right">
                        <input type="search" placeholder="Đi đâu, ăn gì ?">
                        <div class="btn-search">
                            <img src="../images/search.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="profile">
                    <div class="chuong">
                        <img src="../images/chuong.png" alt="">
                    </div>
                    <div class="avt">
                        <img src="../images/avt.png" alt="">
                    </div>
                    <div class="baiviet">
                        <span>Viết Bài</span>
                    </div>
                </div>
            </div>

        </div>
    </header>



    <!-- end header -->
    <main>
        <div class="boxlogin">
            <div class="login">
                <div class="imglogin">
                    <img src="../images/logologin.png" alt="">
                </div>
                <div class="line">
                    <input class="inputdn" type="text" placeholder="Nhập tên tài khoản">
                </div>
                <div class="line">
                    <input class="inputdn" type="password" placeholder="Nhập mật khẩu">
                </div>
                <div class="line">
                    <input class="inputdn" type="password" placeholder="Nhập lại mật khẩu">
                </div>
                <div class="btn-login">
                    <button class="btnsubmit">
                    ĐĂNG KÝ
                    </button>
                </div>
                <div class="dnface mb-1">
                    <button class="btndnface">
                        Đăng ký bằng Facebook
                    </button>
                </div>
                <div class="dangky">
                    <div class="mr-3">Đã có tài khoản ?</div>
                    <div> <a href="">Đăng Nhập</a></div>
                </div>
                <div class="taiapp mt-3">Tải app Riviu</div>
                <div class="boxapp">
                    <div class="boxappleft">
                        <img src="../images/app-store.png" alt="">
                    </div>
                    <div class="boxappright">
                        <img src="../images/ch-play.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </main>


    <footer>
        <div class="mxh">
            <a href=""><img src="../images/facebook.svg" alt=""></a>
            <a href=""><img src="../images/insta.svg" alt=""></a>
            <a href=""><img src="../images/tiktok.svg" alt=""></a>
        </div>
        <div class="coppyright">
            © Công Ty TNHH RIVICO Địa chỉ: 372-374 Trần Hưng Đạo, Phường 2, Quận 5, HCM Số điện thoại: 1900 272736 MST:0316141166 Giấy phép thiết lập MXH số 528/GP-BTTTT , Ký ngày : 17/11/2020
        </div>
    </footer>
</body>

</html>